.form-container {
	width: 500px;
	height: 600px;
	flex-shrink: 0;
	margin: 20px auto;
	border-radius: 8px;
	border: 1px solid #95a0a7;
	background: #fff;
	padding-left: 40px;

	box-shadow: -10px 10px #FFE0B3;
}

.form-title {
	color: #2a414f;

	/* H4 */

	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.088px;
	text-align: center;
}

.form-control {
	margin-bottom: 20px;
}

.form-control label {
	display: block;
	color: #2a414f;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.026px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.form-control input {
	width: 415px;
	height: 55px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 1px solid #95a0a7;
	font-size: 1.5rem;
	padding-left: 10px;
}

.btn-submit {
	width: 415px;
	height: 55px;
	flex-shrink: 0;
	border-radius: 5px;
	background: rgba(255, 153, 0, 0.3);
	border: none;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.032px;
}

.btn-submit:hover {
	background: rgba(255, 153, 0, 0.6);
}

.text-white{
	color: #fff;
	padding-left: 5px;
}
